{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>confirm delete</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <form method="post">{% csrf_token %}
        Are you sure you want to delete Key '{{object.name}}' with ID {{object.id}}?
        <input type="submit" value="Yes" />
    </form>
</body>
</html>
