{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>sensors</title>
  <!-- <meta http-equiv="refresh" content="1; URL=/sensors"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save" />
    </form>
</body>
</html>
