{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>sensors</title>
  <meta http-equiv="refresh" content="1; URL=/sensors">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div id="banner">Raspberry Pi-Alarmanlage</div>
    <div id="nav">
      <a class="nav-active" href='/sensors/'>Sensoren</a>
      <a href='/stream/'>Livestream der IP-Cam</a>
      <a href='/admin/'>Admin-Oberfläche</a>
    </div>

    <div id="sensors">

        <div id="conf">
            {% for item in config %}
                    {% if item.name == "alarm_on" %}
                        {{ item.name }}:<br /> {{ item.value }} {{ item.time|date:"o-m-d H:i:s" }}
                    {% endif %}
            {% endfor %}
            <br /><br />
        </div>
        <div class="sensor">
            door1 current state: <br  />
            {% if door1_last.closed == 1 %}
                closed
            {% else %}
                open
            {% endif %}
            {{ door1_last.time|date:"o-m-d H:i:s" }} <br /><br />
        </div>
        <div class="sensor">
            pir1 last movement:<br />
            {{ pir1_last.time|date:"o-m-d H:i:s" }} <br /><br />
        </div>
        <div class="sensor">
            door1 history<br />
            {% for item in sensor_list %}
                {{ item.time|date:"o-m-d H:i:s" }}
                {% if item.closed == 1 %}
                    closed
                {% else %}
                    open
                {% endif %} <br />
            {% endfor %}
        </div>

    </div>
    <!-- <iframe src="http://admin:admin@192.168.102.182/cgi/mjpg/mjpg.cgi" height="640" width="480" frameborder="0"></iframe> -->

</body>
</html>
