{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>sensors</title>
  <meta http-equiv="refresh" content="5"; URL=/stream">
  <title>Livestream</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>

    <div id="banner">Raspberry Pi-Alarmanlage</div>
    <div id="nav">
      <a href='/sensors/'>Sensoren</a>
      <a class="nav-active" href='/stream/'>Livestream der IP-Cam</a>
      <a href='/admin/'>Admin-Oberfläche</a>
    </div>

    <h1>Livestream von IP-Cam</h1>

    <br /><a href='/sensors/'>zurück zur Ausgabe der Sensoren</a><br />

    {% for item in config %}
        {% if item.name == "alarm_on" and item.value == "True" %}
            <iframe src="http://admin:admin@192.168.102.182/cgi/mjpg/mjpg.cgi"
                    height="440" width="610" frameborder="0"
            ></iframe>
            <br />
            Zeit wird im Stream mit UTC +1 angegeben.
        {% elif item.name == "alarm_on" and item.value == "False" %} %}
            <br />
            <div id="kein-stream">
                Stream wird nicht angezeigt, solange alarm_on = False.<br/>
                Neuladen/Refresh, wenn der Wert sich geändert hat.
            </div>
        {% endif %}
    {% endfor %}

</body>
</html>
