/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS-Reset*/

#banner {
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	color: white;
	background-color: #456;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}
#nav {
	height:2em;
	/*height: 100%;*/
	width: 100%;
	color: white;
	font-weight: bold;
	font-family: monospace;
	background-color: #234;
	padding-top: 0.5em;
	/*padding-bottom*/
}
#nav a {
	color: white;

	/*font-family: monospace;*/
	/*padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;*/
	padding: 0.5em;
	/*height: 2em;*/
}
.nav-active {
	background-color: #456;
}
span {
    padding-right: 5px;
}

body {
    background-color: #ddd;
    margin-left: 10px;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}
table {
    min-width: 22em;
    max-width: 50em;
}
.sensors {
	float: left;
}
#conf {
	padding-top: 1em;
}
